---
import Layout from "@layouts/Layout.astro";
import { SEO } from "astro-seo";
import Sidebar from "@components/Sidebar.astro";

import {
  getForum,
  getGuild,
  getGuildChannels,
  getGuildActiveThreads,
  getChannelArchivedThreads,
} from "@lib/discord";

const channels = await getGuildChannels();
const forumChannel = getForum(channels);
const tags = forumChannel.available_tags;
const threads = await getGuildActiveThreads(forumChannel);
const archivedThreads = await getChannelArchivedThreads(forumChannel.id);
const guild = await getGuild();
---

<head>
  <SEO
    title={`${guild.name}'s ${forumChannel.name} forum channel`}
    description={`Use this page to find forum posts from the ${guild.name} discord Forum ${forumChannel.name}. To become a part of the conversation, join the Discord!`}
  />
</head>

<Layout>
  <Sidebar
    tags={tags}
    threads={threads}
    archivedThreads={archivedThreads}
    guild={guild}
  />
  <main>
    <h1 class="text-5xl font-bold">#{forumChannel.name}</h1>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 80ch;
  }
</style>
